@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700');
@import './App.css';

.square .fas, .square .far {
  color: #cc2a49;
  font-size: 11vh;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 6vh;
  margin-bottom: 10px;
  color: #f99e4c;
  text-align: center;
}

.square {
  background: none;
  border: 2px solid #f99e4c;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 18vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 18vh;
  transition: 0.5s;
}

.square:focus {
  outline: none;
}
.square:hover {
  background: #f36f38;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  height: 10vh;
  text-align: center;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
}

.history {
  padding-top: 10vh;
}

.history-entry {
  color: #ef4648;
  font-size: 3.5vh;
  margin-left: 4vh;
}

.history-entry:hover {
  color: #f99e4c;
  cursor: pointer;
}
